#mainCon {
  margin-top: 12%;
}

::-webkit-scrollbar {
    display:none;
}

.profileCon {
  margin: 0 auto 5%;
  width: 60%;
}

.profileCon h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3%;
}

.searchResult {
  font-size: 1.2em;
  margin: 0 auto 5%;
  width: 45vw;
  overflow: visible;
}

.searchResult h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
}

/* search bar */

.inputField input {
  padding: 10px 80px 10px 40px;
  border: 0;
  border-radius: 34px;
  display: block;
  width: 60%;
  font-size: 18px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(to right, #ff8e85 0%, #ff8e85 28%, #ffc94c 80%, #ffc94c 100%);
  font-family: 'Lato', sans-serif;
  overflow: visible;
  line-height: 1.15;
  margin: 90px auto;
  cursor: text;
  outline: none;
}

.slangCardCon {
  width: 40%;
  height: 50%;
  margin: 10% auto;
  float: left;
}

.likeCon {
  width: 40%;
  height: 50%;
  margin: 10% auto;
  float: right;
}

.addNewSlangBtn {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: block;
}

.addNewSlangBtn img {
  width: 7%;
  height: 7%;
}

.rightFloat {
  float: right;
  margin: 0 0 -50px 0;
}
