.appForm {
  left: 35%;
  width: 30%;
}

.mainWrapper {
  margin: auto;
  margin-top: 7%;
  width: 85%
}

h1 {
  text-align: center;
  color: black;
}

.mainWrapper h1 {
  margin-bottom: 3%;
  text-shadow: #FFC94C 1px 2px 2px;
}
