#landingPage {
  width: 100%;
  height: 80vh;
}

.appForm {
  width: 50%;
  left: 25%;
}

.mainWrapper {
  margin: auto;
  margin-top: 7%;
  width: 85%
}

::-webkit-scrollbar {
    display:none;
}

#landingPage h1 {
  margin-top: 20%;
  padding-bottom: 5%;
  text-align: center;
  color: black;
}

.mainWrapper h1 {
  margin-bottom: 3%;
  text-align: center;
}

.slangCon {
  margin-left: 10vh;
  width: 70vh;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.slangCard {
  font-family: 'Paytone One', sans-serif;
  font-size: 6em;
  text-transform: uppercase;
  margin: 0 auto;
  min-height: 10vh;
  padding: 2rem;
  cursor: pointer;
}

.profileCon {
  margin: 0 auto;
  width: 70%;
  height: 600px;
}

.profileCon h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
}
