#landingPage {
  width: 100%;
  height: 80vh;
}

.appForm {
  left: 35%;
  width: 30%;
}

.mainWrapper {
  margin: auto;
  margin-top: 7%;
  width: 85%
}

::-webkit-scrollbar {
    display:none;
}

#landingPage h1 {
  margin-top: 20%;
  padding-bottom: 5%;
  text-align: center;
  color: black;
}

.mainWrapper h1 {
  margin-bottom: 3%;
}

.slangCon {
  margin-left: 5vh;
  width: 70vh;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  float: left;
  clear: both;
}

.slangCard {
  font-family: 'Paytone One', sans-serif;
  font-size: 7em;
  text-transform: uppercase;
  margin: 0 auto;
  min-height: 10vh;
  padding: 2rem;
  cursor: pointer;
}
